 <%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= pHomeStartingContent %></p>

<% blogPosts.forEach( post => { 
    
    const maxLenght = 100;
    let postBody = post.body;

    if(postBody.length > maxLenght){
        postBody = postBody.substring(0, maxLenght-1) + " ...";
    } %>

    <h2><%= post.title %></h2>
    <p>
        <%= postBody %>
        <a href="posts/<%=post.title%>">Read More</a>
    </p>
<% }); %>

<%- include("partials/footer"); -%>
